## Day Objectives:

- Decision Tree Regressor
- Random Forest

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
auto_mobile = pd.read_csv("automobiles.csv")

In [4]:
auto_mobile.head(3)

,make,fuel-type,num-of-doors,body-style,engine-location,length,width,height,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,two,convertible,front,168.8,64.1,48.8,four,111,5000,21,27,13495
1,alfa-romero,gas,two,convertible,front,168.8,64.1,48.8,four,111,5000,21,27,16500
2,alfa-romero,gas,two,hatchback,front,171.2,65.5,52.4,six,154,5000,19,26,16500

In [5]:
## Preprocess the data

auto_mobile.isnull().sum()

make                0
fuel-type           0
num-of-doors        0
body-style          0
engine-location     0
length              0
width               0
height              0
num-of-cylinders    0
horsepower          0
peak-rpm            0
city-mpg            0
highway-mpg         0
price               0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

lab_en = LabelEncoder()

In [8]:
auto_mobile['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [10]:
auto_mobile['make'] = lab_en.fit_transform(
auto_mobile['make'])

auto_mobile.head(3)

,make,fuel-type,num-of-doors,body-style,engine-location,length,width,height,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,gas,two,convertible,front,168.8,64.1,48.8,four,111,5000,21,27,13495
1,0,gas,two,convertible,front,168.8,64.1,48.8,four,111,5000,21,27,16500
2,0,gas,two,hatchback,front,171.2,65.5,52.4,six,154,5000,19,26,16500

In [11]:
auto_mobile['fuel-type'] = lab_en.fit_transform(auto_mobile['fuel-type'])

In [12]:
dum = lab_en.fit_transform(auto_mobile['num-of-doors'])
auto_mobile['num-of-doors'] = dum

dum2 = auto_mobile.apply(lab_en.fit_transform)

dum2

## We will use this method when we have all the dataset values are object type

In [20]:
auto_mobile['body-style'] = lab_en.fit_transform(auto_mobile['body-style'])

auto_mobile['engine-location'] = lab_en.fit_transform(auto_mobile['engine-location'])

auto_mobile['num-of-cylinders'] = lab_en.fit_transform(auto_mobile['num-of-cylinders'])

auto_mobile['fuel-type'] = lab_en.fit_transform(auto_mobile['fuel-type'])

auto_mobile['horsepower'] = lab_en.fit_transform(auto_mobile['horsepower'])

auto_mobile['peak-rpm'] = lab_en.fit_transform(auto_mobile['peak-rpm'])

In [21]:
auto_mobile.head(3)

,make,fuel-type,num-of-doors,body-style,engine-location,length,width,height,num-of-cylinders,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,1,2,0,0,168.8,64.1,48.8,2,5,10,21,27,13495
1,0,1,2,0,0,168.8,64.1,48.8,2,5,10,21,27,16500
2,0,1,2,2,0,171.2,65.5,52.4,3,20,10,19,26,16500

In [23]:
dup = auto_mobile.corr()

In [24]:
dup['price']

make               -0.163646
fuel-type          -0.110326
num-of-doors       -0.032289
body-style         -0.072933
engine-location     0.331062
length              0.690628
width               0.751265
height              0.135486
num-of-cylinders    0.005509
horsepower         -0.333078
peak-rpm           -0.111070
city-mpg           -0.686571
highway-mpg        -0.704692
price               1.000000
Name: price, dtype: float64

In [25]:
auto_mobile.columns

Index(['make', 'fuel-type', 'num-of-doors', 'body-style', 'engine-location',
       'length', 'width', 'height', 'num-of-cylinders', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price'],
      dtype='object')

In [28]:
x = auto_mobile[['make', 'fuel-type', 'num-of-doors', 'body-style', 'engine-location',
       'length', 'width', 'height', 'num-of-cylinders', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg']]

y = auto_mobile['price']

In [29]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y)

In [30]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()

In [31]:
# Train the model

dtr.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [32]:
dtr.score(x_train,y_train)

0.9939712314309014

In [33]:
y_pred = dtr.predict(x_test)

In [34]:
dtr.score(x_test,y_test)

0.9143966999326182

````
- Take corr > 0 work on this algorithm and compare with this accuracy
 - For this dataset check the pairplot
 
````

## Random Forest

- It is the ensemble algorithm.
- Ensemble : Group of models or algorithms
- It is also working on Gini and Entropy.